<!DOCTYPE html>
<html>
<head>
    <title>Report Missing</title>
</head>
<body>

<h2>Report Missing Person</h2>

<form method="POST" enctype="multipart/form-data">

    Name: <input type="text" name="name"><br><br>
    Age: <input type="text" name="age"><br><br>

    State: <input type="text" name="state"><br><br>
    District: <input type="text" name="district"><br><br>
    Village: <input type="text" name="village"><br><br>
    Colony: <input type="text" name="colony"><br><br>

    Date Missing: <input type="date" name="date_missing"><br><br>

    Contact: <input type="text" name="contact"><br><br>

    Description:<br>
    <textarea name="description"></textarea><br><br>

    Photo: <input type="file" name="photo"><br><br>

    <button type="submit">Submit</button>

</form>

</body>
</html>
